    <div *ngIf="desenvolvedor()" class="caixa-100" style="background-color: whitesmoke;">
        <a class="btn btn-outline-success" [routerLink]="['/home']">Criar PAGe</a>
        <a class="btn btn-outline-success" [routerLink]="['/orientador']">Gerenciar Alunos</a>
        <a class="btn btn-outline-success" [routerLink]="['/avaliacao']">Avaliar Sistema</a>
    </div>
    <div *ngIf="!desenvolvedor()" class="caixa-100" style="background-color: whitesmoke;">
        <a class="btn btn-outline-success" [routerLink]="['/home']">Criar PAGe</a>
        <a class="btn btn-outline-success" [routerLink]="['/avaliacao']">Avaliar Sistema</a>
    </div>

