<div [formGroup]="pageForm">
    <div [formGroupName]="dimensao">
        <div class="row mtb" [formGroupName]="dominio">
            <!--Intervenção-->
            Necessita de investigação?                      
            <select style="background-color: whitesmoke; margin-top:40px; width: 70px;"  [formControlName]="campo">
                <option value="" selected disabled></option>
                <option value="S">Sim</option>
                <option value="N">Não</option>
            </select>
            <img [src]="mudou('campo')" width="15px" height="15px" style="margin-top: 20px;">
        </div>
    </div>
</div>

<!-- -->