<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <app-questoes [pageForm]="pageForm" numeroQuestao='36' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='37' [posicaoDominio]="posicaoDominio">
    <!--
    <div class="caixa-100 d-flex justify-content-center align-items-center">
      <div class="caixa-70">
        Desconhece os valores de PA?
      </div>
      <div class="caixa-30">
        <app-ler-select [pageForm]="pageForm" campo='q37_hypertension_unknow' [posicaoDominio]="posicaoDominio" [opcoes]="opcoes"></app-ler-select>
      </div>
    </div>
    -->
  </app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='38' [posicaoDominio]="posicaoDominio">
    <!--
    <div class="caixa-100 d-flex justify-content-center align-items-center">
      <div class="caixa-70">
        Desconhece os valores de glicemia?
      </div>
      <div class="caixa-30">
        <app-ler-select [pageForm]="pageForm" campo='q38_uncontrolled_diabetes_unknow' [posicaoDominio]="posicaoDominio" [opcoes]="opcoes"></app-ler-select>
      </div>
    </div>
    -->
  </app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='39' [posicaoDominio]="posicaoDominio">
    <!--
    <div class="caixa-100 d-flex justify-content-center align-items-center">
      <div class="caixa-70">
        Desconhece os valores de CT e HDL?
      </div>
      <div class="caixa-30">
        <app-ler-select [pageForm]="pageForm" campo='q39_cholesterol_unknow' [posicaoDominio]="posicaoDominio" [opcoes]="opcoes"></app-ler-select>
      </div>
    </div>
    -->
  </app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='40' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='41' [posicaoDominio]="posicaoDominio">
    <div class="caixa-100">
      O(a) senhor(a) tem o hábito de ingerir bebidas alcoólicas? Se sim, qual o tipo da bebida? 
    </div>
    <div class="caixa-100">
        <app-ler-texto [pageForm]="pageForm" campo='q41_drink_type' [posicaoDominio]="posicaoDominio"></app-ler-texto>
    </div>
    <div class="caixa-100">
      Quantas latas, doses ou taças em uma semana?
    </div>
    <div class="caixa-100">
        <app-ler-textarea [pageForm]="pageForm" campo='q41_alcohol_Ingested_last_week_amount' [posicaoDominio]="posicaoDominio"></app-ler-textarea>
    </div>
    <div class="caixa-100">
      <table width="100%" border="2">
        <tr>
          <td colspan="2">
            Assinale a resposta equivalente, considerando as seguintes referências: 
          </td>
        </tr>
        <tr>
          <td width="50%">
              <strong>Homens:</strong> Mais do que 14 doses de destilado (350 ml), 7 taças de vinho (2 litros) ou 14 latas de cerveja (5 litros)
          </td>
          <td width="50%">
            <strong>Mulheres:</strong> Mais do que 7 doses de destilado (175 ml), 3 e 1⁄2 taças de vinho (1 litro) ou 7 latas de cerveja (2,5 litros)
          </td>
        </tr>
      </table>
    </div>
  </app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='42' [posicaoDominio]="posicaoDominio">
    <div class="caixa-100">
      <div class="caixa-70">
        O(a) senhor(a) pratica exercícios físicos regulares (caminhada, natação, dança, ginástica, musculação, entre outros)? 
      </div>
      <div class="caixa-30">
        <app-ler-select [pageForm]="pageForm" campo='q42_practice_exercises_regularly' [posicaoDominio]="posicaoDominio" [opcoes]="opcoes"></app-ler-select>
      </div>
    </div>
    <div class="caixa-100">
      <div class="caixa-40">
        Sem sim, com qual frequência?
      </div>
      <div class="caixa-60">
        <app-ler-texto [pageForm]="pageForm" campo='q42_practise_exercises_frequency' [posicaoDominio]="posicaoDominio"></app-ler-texto>
      </div>
    </div>
    <div class="caixa-100">
      <div class="caixa-40">
        Por quanto tempo?
      </div>
      <div class="caixa-60">
        <app-ler-texto [pageForm]="pageForm" campo='q42_practise_exercises_time' [posicaoDominio]="posicaoDominio"></app-ler-texto>
      </div>
    </div>
  </app-questoes>

  <app-questoes *ngIf="verPeso()" [pageForm]="pageForm" numeroQuestao='43' [posicaoDominio]="posicaoDominio" [notEnabled] = 'q_43'>
    <div class="caixa-100 d-flex justify-content-center align-items-center">
      <div class="caixa-30" >
        Peso: <b><i>{{peso}}</i></b> Kg
      </div>
      <div class="caixa-30">
        Altura: <b><i>{{altura}}</i></b> m
      </div>
      <div class="caixa-40" >
        IMC: <b><i>{{imc}}</i></b> Kg/m2
      </div>
    </div>
  </app-questoes> 

  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>