<div [formGroup]="pageForm">
    <div [formGroupName]="dimensao">
        <div class="row mtb" [formGroupName]="dominio">
            <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">{{letra}}.</div>
            <span class="col-12 col-md-7 d-flex align-items-center">{{questao}}</span>
            <div class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
                <select style="background-color : whitesmoke" class="w-100 form-control" [formControlName]="campo">
                <option value="" selected disabled>Selecione</option>
                <option value="S">Sim</option>
                <option value="N">Não</option>
                </select>
            </div>
            <div class="col-12 col-md-1 d-flex justify-content-around flex-wrap">
                <img style="margin-left: 10px;" [src]="mudou('nada')" width="15px" height="15px">
            </div>
        </div>
    </div>
</div>
