<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <app-questoes [pageForm]="pageForm" numeroQuestao='20' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='21' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='22' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='23' [posicaoDominio]="posicaoDominio"></app-questoes>

  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>