<!--Title-->
<h2 class="text-center mt-5"><span class="{{corTitulo}} rounded-pill rounded-bottom-0 text-white px-5 py-2">Observações</span></h2>
<!--------->
<!--Content-->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <!--Perguntas-->
  <div class="form-group p-3" [formGroupName]="dimensao">
    <div class="form-group p-3" formGroupName="commentsForm">
      <app-base>
        <div class="col-12 col-md-12 d-flex justify-content-center align-items-center">
          {{titulo}}
        </div>

        <div class="caixa-100">
          <div class="caixa-90">
            <textarea class="w-100 form-control" formControlName="comments" style="background-color: whitesmoke;"></textarea>
          </div>
          <div class="caixa-10">
            <img [src]="mudou('comments')" width="15px" height="15px">
          </div>
        </div>

        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div> 
   

      </app-base>
    </div>
  </div>
</div>
