<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <div class="w-100 centro-multi-env">
    <b>[Ambiente Interno] - Na Casa do(a) Senhor(a): </b>
  </div>
  <app-questoes [pageForm]="pageForm" numeroQuestao='72' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='73' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='74' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='75' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='76' [posicaoDominio]="posicaoDominio"></app-questoes>
  <div *ngIf = 'q_76()'>
    <app-questoes [pageForm]="pageForm" numeroQuestao='77' [posicaoDominio]="posicaoDominio" notEnabled='true'></app-questoes>
    <app-questoes [pageForm]="pageForm" numeroQuestao='78' [posicaoDominio]="posicaoDominio" notEnabled='true'></app-questoes>
  </div>
  <div *ngIf = '!q_76()'>
    <app-questoes [pageForm]="pageForm" numeroQuestao='77' [posicaoDominio]="posicaoDominio"></app-questoes>
    <app-questoes [pageForm]="pageForm" numeroQuestao='78' [posicaoDominio]="posicaoDominio"></app-questoes>
  </div>

  <div class="w-100 centro-multi-env">
    <b>[Comportamento de Risco] - O(a) Senhor(a) costuma: </b>
  </div>
  <app-questoes [pageForm]="pageForm" numeroQuestao='79' [posicaoDominio]="posicaoDominio"></app-questoes> 
  <app-questoes [pageForm]="pageForm" numeroQuestao='80' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='81' [posicaoDominio]="posicaoDominio"></app-questoes>

  <div class="w-100 centro-multi-env">
    <b>[Ambiente Externo]</b>
  </div>
  <app-questoes [pageForm]="pageForm" numeroQuestao='82' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='83' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='84' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='85' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='86' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='87' [posicaoDominio]="posicaoDominio"></app-questoes> 


  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>