<app-sensory-deficit [pageForm]="pageForm"></app-sensory-deficit>
<app-functional-disability [pageForm]="pageForm"></app-functional-disability>
<app-malnutrition [pageForm]="pageForm"></app-malnutrition>
<app-cardiovascular-factors [pageForm]="pageForm"></app-cardiovascular-factors>
<app-misuse-medications [pageForm]="pageForm"></app-misuse-medications>
<app-comments-dimensao [pageForm]="pageForm" dimensao="biologicalAspectsForm" corTitulo="bg-success" titulo="Observações sobre o bloco biológico:"></app-comments-dimensao>


<app-botoes [valido]="formValido()" [pageForm]="pageForm"></app-botoes>

<app-instrucoes></app-instrucoes>

