<div [formGroup]="pageForm">
    <div [formGroupName]="dimensao">
        <div [formGroupName]="dominio">
            <div class="caixa-100">
                <div class="caixa-90">
                    <select class="w-100 form-control fu" formControlName="{{campo}}">
                        <option value="" selected disabled>Selecione</option>
                        <option *ngFor = "let opcao of opcoes" value="{{opcao.valor}}" selected>{{opcao.descricao}}</option>
                    </select> 
                </div>
                <div class="caixa-10">
                    <img style="margin-left: 10px;" [src]="mudou('controlName')" width="15px" height="15px">
                </div>
            </div>
        </div>
    </div>
</div>
