<div class="d-flex justify-content-center align-items-center">
    <div class="caixa-75p bordaInst">
      <b>Instruções: </b> Os campos com <img src="assets/asterisco.png" width="15px" height="15px"> são obrigatórios e precisam ser preenchidos.
      Os campos com o ícone <img src="assets/checked_not_bak.png"  width="15px" height="15px"> foram preenchidos com valores inválidos. 
      Os campos com o ícone <img src="assets/checked_ok_bak.png"  width="15px" height="15px"> estão preenchidos corretamente. 
      Não é permitido acessar o próximo nível com campos obrigatórios não preenchidos ou preenchidos incorretamente. 
      Fique atento e siga as instruções contidas nos status dos formulários. 
    </div>
  </div>
