<main class="container-flex">
  <!--Adicionar Participante-->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary" type="button" (click)="addParticipant(-1)">Adicionar participante</button>
  </div>
  <!--Title-->
  <h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2" *ngIf="participants.length">Participantes {{participants.length}}</span></h2>
  <h5 class="text-center text-primary mt-5" *ngIf="!participants.length">Nenhum participante adicionado</h5>
  <!--------->
  <!--Participantes-->
  <div *ngIf="participants.length" class="d-flex flex-wrap w-xl-50 w-lg-75 mx-auto mb-5">
    <!--User1-->
    <table class="table table-striped">
        <thead>
          <tr>
            <th width="40%">Nome</th>
            <th align="center" width="10%">Idade</th>
            <th align="center" width="20%">Editar Dados</th>
            <th align="center" width="20%">Gerenciar PAGe</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let participant of participants">
              <td valign="center">{{participant?.p01_name}}</td>
              <td valign="center" align="center">{{participant?.p05_age}}</td>
              <td align="center"><button class="btn btn-info" (click)="addParticipant(participant.id)">Editar</button></td>
              <td align="center"><button class="btn btn-success" (click)="goToParticipant(participant.id)">PAGe</button></td>
            </tr>
        </tbody>
    </table>
  </div>

  <!-------->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-danger" type="button" (click)="voltar()">Voltar</button>
  </div>
</main>
