<main class="container-flex">
  <!--Adicionar Participante-->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addParticipant">Adicionar participante</button>
  </div>
  <!-------------------------->
  <!--Menu Adicionar Participante-->
  <div class="d-flex flex-wrap w-50 mx-auto bg-white shadow px-4 py-4 mt-5 collapse" id="addParticipant">
    <app-participant-edit (volta)="recebeParticipant($event)"></app-participant-edit>
  </div>
  <!------------------------------->
  <!--Title-->
  <h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2" *ngIf="participants.length">Participantes {{participants.length}}</span></h2>
  <h5 class="text-center text-primary mt-5" *ngIf="!participants.length">Nenhum participante adicionado</h5>
  <!--------->
  <!--Users-->
  <div class="d-flex flex-wrap w-xl-50 w-lg-75 mx-auto mb-5">
    <!--User1-->
    <div class="d-flex w-25 align-items-center flex-column p-2 border bg-white" *ngFor="let participant of participants">
      <img class="img-fluid px-5" src="assets/profile_placeholder.svg" alt="Foto de perfil">
      <h6 class="font-weight-bold text-primary text-center">{{ participant.p01_name || 'Nome não registrado' }}</h6>
      <span class="m-0">{{ participant.p05_age + ' anos' || 'Idade não registrada' }}</span>
      <button class="btn btn-primary mt-4" (click)="goToParticipant(participant.id)">Page</button>
    </div>
    <!--------->
  </div>
  <!-------->
</main>
