<div class="text-center my-4">
  <b>Nome:</b> {{participantName}}  <b>Idade:</b> {{participantIdade}} <b>Gênero:</b> {{participantSexo}}
</div>


<div *ngIf="!desenvolvedor()" class="text-white text-center my-4">
  <button (click)="goTo(0)" class="btn btn-primary">Novo Page</button>
</div>
<div *ngIf="desenvolvedor()" class="text-white text-center my-4">
  <button (click)="voltar()" class="btn btn-primary" style="margin-right: 10px;">Voltar</button>
  <button (click)="goTo(0)" class="btn btn-primary" style="margin-right: 10px;">Novo Page</button>
  <button (click)="goTo(-1)" class="btn btn-primary" style="margin-left: 10px;">Novo Page Preenchido</button>
</div>


<!--Content 1-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg mt-4" *ngFor="let page of pages">
  <!--Pages-->
  <div class="container-flex p-4">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-primary font-weight-bold">Page</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center" *ngIf="verificaPage(page)">
        <font color="green"><b>Ok</b></font>
      </div> 
      <div class="col d-flex justify-content-center align-items-center" *ngIf="!verificaPage(page)">
        <font color="red"><b>Incompleto</b></font>
      </div> 
    </div>
    <div class="row">
      <!-- Descrição -->
      <div class="col-12 col-lg-8 container mt-3" style="font-size: 1.2rem;">
        <!-- Data -->
        <div class="row">
          <span class="offset-2 col-5 text-primary font-weight-bold">Data de avaliação: </span>
          <span class="col">{{ page.avaliation_date| date: 'dd/MM/yyyy' }}</span>
        </div>
        <!---------->
        <!-- Última alteração -->
        <div class="row">
          <span class="offset-2 col-5 text-primary font-weight-bold">Ulima alteração: </span>
          <span class="col">{{ page.updated_at | date: 'dd/MM/yyyy' }}</span>
        </div>
        <!---------------------->
      </div>
      <!--------------->
      <!-- Options -->
      <div class="col-6 col-lg-4 d-flex flex-column justify-content-around mx-auto mt-5 mt-lg-0">
        <button class="btn btn-primary mb-2" (click)="goTo(page.id)" type="button">Visualizar ou editar</button>
        <button class="btn btn-danger" (click)="delete(page.id)" type="button">Deletar</button>
      </div>
      <!----------->
    </div>
  </div>
  <!----------------->
</div>
<!------------->


