<div id="registration" class="conatiner col-md-12">
  <form id="regForm" [formGroup]="pageForm">
    <mat-horizontal-stepper #stepper linear>

      <mat-step formGroupName="cabecaPageForm" 
        [stepControl]="pageForm.get('cabecaPageForm')" [optional]="valido()">
        <ng-template matStepLabel>Cabeçalho</ng-template>
        <app-cabeca-page [pageForm]="pageForm"></app-cabeca-page>
      </mat-step>

      <mat-step formGroupName="participantFormForm" 
        [stepControl]="pageForm.get('participantFormForm')" [optional]="valido()">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <app-participant-form [pageForm]="pageForm"></app-participant-form>
      </mat-step>

      <mat-step formGroupName="psychologicalAspectsForm"
        [stepControl]="pageForm.get('psychologicalAspectsForm')" [optional]="valido()">
        <ng-template matStepLabel>Aspectos Psicológicos</ng-template>
        <app-psychological-aspects  [pageForm]="pageForm"></app-psychological-aspects>
      </mat-step>

      <mat-step formGroupName="biologicalAspectsForm"
        [stepControl]="pageForm.get('biologicalAspectsForm')" [optional]="valido()">
        <ng-template matStepLabel>Aspectos Biológicos</ng-template>
        <app-biological-aspects  [pageForm]="pageForm"> </app-biological-aspects>
      </mat-step>

      <mat-step formGroupName="socialAspectsForm" 
        [stepControl]="pageForm.get('socialAspectsForm')" [optional]="valido()">
        <ng-template matStepLabel>Aspectos Sociais</ng-template>
        <app-social-aspects [pageForm]="pageForm"></app-social-aspects>
      </mat-step>

      <mat-step formGroupName="multidimensionalAspectsForm"
        [stepControl]="pageForm.get('multidimensionalAspectsForm')" [optional]="valido()">
        <ng-template matStepLabel>Aspectos Multidimensionais</ng-template>
        <app-multidimensional-aspect  [pageForm]="pageForm" [participant]="participant"></app-multidimensional-aspect>
      </mat-step>
 
      <mat-step formGroupName="demandMapForm"
        [stepControl]="pageForm.get('demandMapForm')" [optional]="valido()">
        <ng-template matStepLabel>Análise Final</ng-template>
        <app-final-analise  [pageForm]="pageForm"></app-final-analise>
      </mat-step>
 

    </mat-horizontal-stepper>
  </form>
</div>
<div class="d-flex justify-content-center align-items-center">
  <div class="caixa-75p">
    <div class="caixa-15 d-flex justify-content-center">
      <button type="button" (click)="cancelar()" class="btn btn-danger" name="bc1"> 
        Cancelar PAGe 
      </button>
    </div>
    
    <div *ngIf="!pageForm.valid" class="caixa-15r d-flex justify-content-center" >
      <button type="button" disabled class="btn btn-secondary" name="bc2">
        Salvar PAGe
      </button>
    </div>
 
    <div *ngIf="pageForm.valid" class="caixa-15r d-flex justify-content-center" >
      <button type="button" (click)="salvar()" class="btn btn-success" name="bc2">
        Salvar PAGe
      </button>
    </div>
 
  </div>
</div>