<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <app-questoes [pageForm]="pageForm" numeroQuestao='64' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='65' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='66' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='67' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='68' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='69' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='70' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='71' [posicaoDominio]="posicaoDominio"></app-questoes> 

  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>