<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <app-questoes [pageForm]="pageForm" numeroQuestao='1' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='2' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='3' [posicaoDominio]="posicaoDominio">
    <app-relogio figura="assets/q3b1.png" campo='q3_15' [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-relogio>
    <app-relogio figura="assets/q3b2.png" campo='q3_30' [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-relogio>
    <app-relogio figura="assets/q3b3.png" campo='q3_45' [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-relogio>
    <app-relogio figura="assets/q3b4.png" campo='q3_60' [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-relogio>
    <b>[Instruções: Pontue se o(a) idoso(a) falou uma quantidade de animais igual ou superior a nota de corte. Nota de corte de acordo com escolaridade: analfabetos = 9 animais; 1-7 anos = 12 animais e 8 anos ou mais =  13 animais.]</b>
  </app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='4' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='5' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='6' [posicaoDominio]="posicaoDominio"></app-questoes>

  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>
