<app-dominio [pageForm]="pageForm" [posicaoDominio]="posicaoDominio">
  <app-base><b>Instruções: antes de iniciar diga ao idoso: “Vou lhe fazer algumas perguntas para saber
    como o(a) senhor(a) vem se sentindo na <u>última semana</u>.”</b></app-base>
  <app-questoes [pageForm]="pageForm" numeroQuestao='15' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='16' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='17' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='18' [posicaoDominio]="posicaoDominio"></app-questoes>
  <app-questoes [pageForm]="pageForm" numeroQuestao='19' [posicaoDominio]="posicaoDominio"></app-questoes>

  <app-comments [pageForm]='pageForm' [posicaoDominio]="posicaoDominio"></app-comments>
</app-dominio>